In [2]:
import pandas as pd

## Example of Data

In [4]:
# data used for example
states = ["Florida", "Michigan", "New York", "Pakistan"]
population = [222, 333, 4444, 5555]  
dict_states = {"Provinces of USA": states, "Abaadi": population} 
# The number of element in 'states' and 'population must be same

df_population = pd.DataFrame.from_dict(dict_states)
df_population

  Provinces of USA  Abaadi
0          Florida     222
1         Michigan     333
2         New York    4444
3         Pakistan    5555

In [10]:
df_population.head(2)

  Provinces of USA  Abaadi
0          Florida     222
1         Michigan     333

In [11]:
df_population.tail(1)

  Provinces of USA  Abaadi
3         Pakistan    5555