# Hello World

In [257]:
# Print my FIRST MESSAGE
print("Hello World")

Hello World

In [258]:
print("Naseer Muhammad")

Naseer Muhammad

In [259]:
# We will write our name here
print("My name is Naseer Muhammad")

My name is Naseer Muhammad

In [260]:
type("hello World")

str

In [261]:
type(False)

bool

In [262]:
"Hello World"

'Hello World'

In [263]:
print("Hello World")

Hello World

In [264]:
type(True)

bool

In [265]:
"Hello World".upper()

'HELLO WORLD'

In [266]:
"Hello World".lower()

'hello world'

In [267]:
print("Hello World".lower())

print("Hello World".title())

print("Hello World".upper())

hello world
Hello World
HELLO WORLD

In [268]:
"Hello World".count("l") 
# counts the number of "l" in the string

3

In [269]:
"Hello World".replace("o", "u")
# Replace the first alphabet with the second

'Hellu Wurld'

# Variables

In [270]:
message_1 = "I am learning Python for Data Science."
message_1

'I am learning Python for Data Science.'

In [271]:
message_1

'I am learning Python for Data Science.'

In [272]:
message_2 = "And it's fun until now!"

In [273]:
message_2

"And it's fun until now!"

In [274]:
# String concaticaiton 
message_1 + message_2

"I am learning Python for Data Science.And it's fun until now!"

In [275]:
full_message = message_1 +' '+ message_2
full_message

"I am learning Python for Data Science. And it's fun until now!"

In [276]:
f"Hello World"

'Hello World'

In [277]:
f"{message_1} {message_2}"

"I am learning Python for Data Science. And it's fun until now!"

# Lists

In [278]:
countries = ["United States", "India", "China", "Pakistan", "Afghanistan"]

In [279]:
countries

['United States', 'India', 'China', 'Pakistan', 'Afghanistan']

In [280]:
# Getting elements with the help of indexing
countries[4]

'Afghanistan'

In [281]:
countries[-3]

'China'

In [282]:
# Slicing the lists: excessing parts of list
countries[0:3]
# Note: THE LAST DIGIT IS NOT INCLUDED IN THE SLICING

['United States', 'India', 'China']

In [283]:
countries[0:1]

['United States']

In [284]:
countries[1:5]
# it's same as
countries[1:]

['India', 'China', 'Pakistan', 'Afghanistan']

In [285]:
# We also don't need to include the first letter if we want to start from the begining
countries[:3]

['United States', 'India', 'China']

In [286]:
countries.append("Japan")
countries

['United States', 'India', 'China', 'Pakistan', 'Afghanistan', 'Japan']

## Adding somethings to the List

In [287]:
countries.insert(5, "Canada")
countries

['United States',
 'India',
 'China',
 'Pakistan',
 'Afghanistan',
 'Canada',
 'Japan']

In [288]:
countries
# I 'appended' the Japan 3 times and Canada two times that's why it has added them more than once

['United States',
 'India',
 'China',
 'Pakistan',
 'Afghanistan',
 'Canada',
 'Japan']

In [289]:
countries_2 = ["UK", "Germany", "Austria"]
countries_2

['UK', 'Germany', 'Austria']

In [290]:
nested_list = [countries, countries_2]
nested_list

[['United States',
  'India',
  'China',
  'Pakistan',
  'Afghanistan',
  'Canada',
  'Japan'],
 ['UK', 'Germany', 'Austria']]

## Removing things from the List

In [291]:
countries = ["United States", "India", "China", "Brazil"]
countries

['United States', 'India', 'China', 'Brazil']

In [292]:
countries.remove('China')
countries
# Generally .remove() removes the first element if not given the index number

['United States', 'India', 'Brazil']

In [293]:
Countries = ["United States", "India", "China", "Brazil"]
Countries

['United States', 'India', 'China', 'Brazil']

In [294]:
Countries.pop(-1) # This will also remove the last element from the list
Countries
# Generally .pop() removes the last element if not given the index number

['United States', 'India', 'China']

In [295]:
# another method to delete some element from the list is 
del Countries[0]
Countries

['India', 'China']

## Sorting Lists

In [296]:
numbers = [4, 3, 5, 100, 9, 2, 1]

In [297]:
# It will usually sort the list in the ascending order
numbers.sort()

In [298]:
numbers

[1, 2, 3, 4, 5, 9, 100]

In [299]:
numbers = [4, 3, 5, 100, 9, 2, 1]
numbers.sort(reverse= True)
numbers

[100, 9, 5, 4, 3, 2, 1]

In [300]:
# To update some Elements in the List
numbers[0] = 1000

In [301]:
numbers

[1000, 9, 5, 4, 3, 2, 1]

In [302]:
# To copy 
countries = ["India", "Indonesia", "Ireland", "Iceland"]
countries

['India', 'Indonesia', 'Ireland', 'Iceland']

In [303]:
countries[:]

['India', 'Indonesia', 'Ireland', 'Iceland']

In [304]:
countries.copy()

['India', 'Indonesia', 'Ireland', 'Iceland']

# Dictionary

In [305]:
# In Python, a Dictionary is a collection of key: value
my_dict = {"key1":"value", "key2":"value", "key3":"value"}
my_dict

{'key1': 'value', 'key2': 'value', 'key3': 'value'}

In [306]:
my_data = {"name": "Naseer", "age": 29, "married": False}
my_data

{'name': 'Naseer', 'age': 29, 'married': False}

In [307]:
# To get the keys of the dictionary
my_data.keys()

dict_keys(['name', 'age', 'married'])

In [308]:
my_data.values()

dict_values(['Naseer', 29, False])

In [309]:
# An item in dictionary is combination of 'key' and 'value'. For Example
my_data.items()

dict_items([('name', 'Naseer'), ('age', 29), ('married', False)])

In [310]:
# TO add more detials into the dictionary
my_data["height"] = 1.7

In [311]:
my_data

{'name': 'Naseer', 'age': 29, 'married': False, 'height': 1.7}

In [312]:
# We can update dictionary also using .update() method
my_data.update({"height": 1.8})
my_data

{'name': 'Naseer', 'age': 29, 'married': False, 'height': 1.8}

In [313]:
my_data["spouse"] = "Azka Ainun Nisa"
my_data

{'name': 'Naseer',
 'age': 29,
 'married': False,
 'height': 1.8,
 'spouse': 'Azka Ainun Nisa'}

In [314]:
# We can also make the copy of dictionary in the same way 
new_dict = my_data.copy()
new_dict

{'name': 'Naseer',
 'age': 29,
 'married': False,
 'height': 1.8,
 'spouse': 'Azka Ainun Nisa'}

In [315]:
# TO remove an item from the dictionary
my_data.pop("spouse")

'Azka Ainun Nisa'

In [316]:
my_data

{'name': 'Naseer', 'age': 29, 'married': False, 'height': 1.8}

In [317]:
# Another method
del my_data["age"]

In [318]:
my_data

{'name': 'Naseer', 'married': False, 'height': 1.8}

In [319]:
# To clear all the data, we can use the 'clear' method
my_data.clear()
my_data

{}

# IF Statments

In [320]:
'''Syntax of IF Statements'''
# if <condition>:
#     <code>

# elif <condition>:
#     <code>
# ...
# else:
# <code>

'Syntax of IF Statements'

In [321]:
age = 11

if age >= 18:
    print("You are of legal age adult.")

elif age>= 13:
    print("You are a teenager.")
else: 
    print("You are a kid.")

You are a kid.

# For Loop

In [322]:
# for <variable> in <iterable>:   iterable: list
#     <code>

In [323]:
countries

['India', 'Indonesia', 'Ireland', 'Iceland']

In [324]:
for i in countries:
    print(i)

India
Indonesia
Ireland
Iceland

In [325]:
for i, country in enumerate(countries):
    print(i, country)

0 India
1 Indonesia
2 Ireland
3 Iceland

In [326]:
my_data = {"name": "Naseer", "age": 29, "height": 1.8}
my_data

{'name': 'Naseer', 'age': 29, 'height': 1.8}

In [327]:
for key, value in my_data.items():
    print(key, value)

name Naseer
age 29
height 1.8

# Functions

In [328]:
# Syntax of Function
# def function(<params>):
#     <code>
#     return <data>

In [329]:
def sum_values(a, b):
    x = a ** b
    return x

In [330]:
sum_values(3, 2) # Once the function is called and given arguments, it will return the values of the function

9

## Built-in Functions in Python

In [331]:
countries = ["Iceland", "India", "Indonesia", "Ireland", "Thailand"]
len(countries)

5

In [332]:
max([1, 10, 100, 14, 20])

100

In [333]:
min([1, 10, 100, 14, 20])

1

In [334]:
type(countries)

list

In [335]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

# Modules in Python

In [336]:
import os

## OS Module

In [337]:
import os

In [338]:
os.getcwd() # Current Working Directory

'/Users/naseermuhammad/anaconda_projects/My Course'

In [339]:
# All the elements in the folder where jupiter is located
os.listdir()

['21_Duplicate Rows with the .duplicate() Method.ipynb',
 '27_Drop Rows or Columns from a Dataframe.ipynb',
 'pivot_table.xlsx',
 '06_Selecting One Column from a DateFrame.ipynb',
 '03_Python Basics.ipynb',
 '35_GroupBy and Aggregate Function.ipynb',
 '17_Create a column based on 1 condition np.where().ipynb',
 '40_Project 4_Text Classification with Sklearn.ipynb',
 '37_Joins_by_merge().ipynb',
 'players_20.csv',
 '.DS_Store',
 '30_apply() Method.ipynb',
 'Car_sales.csv',
 '20_The isin() Method.ipynb',
 'StudentsPerformance.csv',
 '14_Rename Columns and Index with rename().ipynb',
 '36_ Concatenate.ipynb',
 '29_Filter A dataFrame with the query() Method.ipynb',
 '24_ Selecting element with loc() Method.ipynb',
 '08_Add new Column to a DataFrame.ipynb',
 '10_Operations on DataFrame.ipynb',
 '33_Pivot() and pivot_table().ipynb',
 '39_Machine Learning with Python.ipynb',
 'IMDb movies.csv',
 '28_Create Random Sample with the sample() Method.ipynb',
 'Project 2- Data Visualization.ipynb',
 '23_Get and Count Unique values by unique() and nunique() Methods.ipynb',
 '38_Regular_expressions.ipynb',
 '31_Lambda function+ apply() Method.ipynb',
 'supermarket_sales.xlsx',
 'Project-1_Organize all data in Dictionary.ipynb',
 '13_The set_index() and sort_index() methods.ipynb',
 '12_Sort a Dataframe with sort_values().ipynb',
 'vgsales.csv',
 'Project 3-Data Cleaning with pandas.ipynb',
 '07_Selecting two or more Columns from a DataFrame.ipynb',
 'laptop_price.csv',
 'Boston House Prices.csv',
 '04_Displaying DataFrame.ipynb',
 '34_Interactive Data Visualization with Pandas.ipynb',
 'my_test.png',
 'IMDB Dataset.csv',
 '16_Filter a Dataframe based on 1 condition.ipynb',
 '19_Creating COnditional Column from More than 2 Choices np.select().ipynb',
 '32_make a copy of a dataframe with copy().ipynb',
 'population_total.csv',
 '.ipynb_checkpoints',
 '01_Example.ipynb',
 '15_Filter a dataFrame based on 1 condition.ipynb',
 'IMDb ratings.csv',
 '18_Filter a DataFrame based on multiple conditions.ipynb',
 '26_Set new value for a cell in Dataframe.ipynb',
 '22_Drop Duplicate Elements with the .drop_duplicates() Method.ipynb',
 '11_The value_count() method.ipynb',
 '09_Add new Column with assign() and insert().ipynb',
 '02_Installing Pandas.ipynb',
 '05_Basic Attributes, Methods and Functions.ipynb',
 'gdp.csv',
 '25_Selecting element with iloc() Method.ipynb',
 'netflix_titles.csv']

In [340]:
os.makedirs("Day 2") # It will create new folder with the name "Day 3"

In [341]:
os.listdir() # This will list all the elements in the current directory

['21_Duplicate Rows with the .duplicate() Method.ipynb',
 '27_Drop Rows or Columns from a Dataframe.ipynb',
 'pivot_table.xlsx',
 '06_Selecting One Column from a DateFrame.ipynb',
 '03_Python Basics.ipynb',
 '35_GroupBy and Aggregate Function.ipynb',
 '17_Create a column based on 1 condition np.where().ipynb',
 '40_Project 4_Text Classification with Sklearn.ipynb',
 '37_Joins_by_merge().ipynb',
 'players_20.csv',
 '.DS_Store',
 '30_apply() Method.ipynb',
 'Car_sales.csv',
 '20_The isin() Method.ipynb',
 'StudentsPerformance.csv',
 '14_Rename Columns and Index with rename().ipynb',
 '36_ Concatenate.ipynb',
 '29_Filter A dataFrame with the query() Method.ipynb',
 '24_ Selecting element with loc() Method.ipynb',
 'Day 2',
 '08_Add new Column to a DataFrame.ipynb',
 '10_Operations on DataFrame.ipynb',
 '33_Pivot() and pivot_table().ipynb',
 '39_Machine Learning with Python.ipynb',
 'IMDb movies.csv',
 '28_Create Random Sample with the sample() Method.ipynb',
 'Project 2- Data Visualization.ipynb',
 '23_Get and Count Unique values by unique() and nunique() Methods.ipynb',
 '38_Regular_expressions.ipynb',
 '31_Lambda function+ apply() Method.ipynb',
 'supermarket_sales.xlsx',
 'Project-1_Organize all data in Dictionary.ipynb',
 '13_The set_index() and sort_index() methods.ipynb',
 '12_Sort a Dataframe with sort_values().ipynb',
 'vgsales.csv',
 'Project 3-Data Cleaning with pandas.ipynb',
 '07_Selecting two or more Columns from a DataFrame.ipynb',
 'laptop_price.csv',
 'Boston House Prices.csv',
 '04_Displaying DataFrame.ipynb',
 '34_Interactive Data Visualization with Pandas.ipynb',
 'my_test.png',
 'IMDB Dataset.csv',
 '16_Filter a Dataframe based on 1 condition.ipynb',
 '19_Creating COnditional Column from More than 2 Choices np.select().ipynb',
 '32_make a copy of a dataframe with copy().ipynb',
 'population_total.csv',
 '.ipynb_checkpoints',
 '01_Example.ipynb',
 '15_Filter a dataFrame based on 1 condition.ipynb',
 'IMDb ratings.csv',
 '18_Filter a DataFrame based on multiple conditions.ipynb',
 '26_Set new value for a cell in Dataframe.ipynb',
 '22_Drop Duplicate Elements with the .drop_duplicates() Method.ipynb',
 '11_The value_count() method.ipynb',
 '09_Add new Column with assign() and insert().ipynb',
 '02_Installing Pandas.ipynb',
 '05_Basic Attributes, Methods and Functions.ipynb',
 'gdp.csv',
 '25_Selecting element with iloc() Method.ipynb',
 'netflix_titles.csv']