In [45]:
import pandas as pd

In [46]:
# Reading the CSV file 
import pandas as pd


df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1. Adding a New Column
### 1.1. assign()

When to use assign?
* Add multiple columns in a single line of code
* When you need to overwrite the values of an exisiting column (best practice).
  It returns a new object (a copy) with all the original columns in addition to the new ones.

In [47]:
import numpy as np

In [48]:

# Create random numbers for our new score 'columns' 
Physics = np.random.randint(33, 100, size= 1000)
Chemisty = np.random.randint(33, 100, size= 1000)

In [49]:
series1 = pd.Series(Physics, index= np.arange(0, 1000))
series2 = pd.Series(Chemisty, index= np.arange(0, 1000))

In [50]:
# Using assign() to add multiple columns 
#assign(Name of the column= values, Name of the column= values)
df_exams = df_exams.assign(Physics=series1, Chemisty=series2)

In [51]:
# Show dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Physics,Chemisty
0,female,group B,bachelor's degree,standard,none,72,72,74,42,97
1,female,group C,some college,standard,completed,69,90,88,33,76
2,female,group B,master's degree,standard,none,90,95,93,50,85
3,male,group A,associate's degree,free/reduced,none,47,57,44,94,78
4,male,group C,some college,standard,none,76,78,75,92,49
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,75,54
996,male,group C,high school,free/reduced,none,62,55,55,78,97
997,female,group C,high school,free/reduced,completed,59,71,65,70,48
998,female,group D,some college,standard,completed,68,78,77,98,68
999,female,group D,some college,free/reduced,none,77,86,86,45,43

### 1.2. insert()

In [52]:
# using index() to add a column at a specific position
# inset (the index where you want the new column to be, name of the column, the column whose values you want to copy)
df_exams.insert(5, "test_new", series1)

In [53]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,test_new,math score,reading score,writing score,Physics,Chemisty
0,female,group B,bachelor's degree,standard,none,42,72,72,74,42,97
1,female,group C,some college,standard,completed,33,69,90,88,33,76
2,female,group B,master's degree,standard,none,50,90,95,93,50,85
3,male,group A,associate's degree,free/reduced,none,94,47,57,44,94,78
4,male,group C,some college,standard,none,92,76,78,75,92,49
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,75,88,99,95,75,54
996,male,group C,high school,free/reduced,none,78,62,55,55,78,97
997,female,group C,high school,free/reduced,completed,70,59,71,65,70,48
998,female,group D,some college,standard,completed,98,68,78,77,98,68
999,female,group D,some college,free/reduced,none,45,77,86,86,45,43