In [1]:
import pandas as pd

In [2]:
# Reading the CSV file 
df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Value Counts

In [3]:
# Counting gender elements

# len function
print(len(df_exams))

# .count() method to do the same
df_exams["gender"].count()

1000

1000

In [4]:
# Counting gender elements by category
df_exams["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [5]:
# Calculating the relative frequency (divide all values by the sum of values)(percentage each category represent)
df_exams["gender"].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [6]:
# counting "parental level of education" elements by category
df_exams["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [7]:
# Calculating the relative frequency (divide all values by the sum of values)(percentage each category represent)
print(df_exams["parental level of education"].value_counts(normalize = True))

# To round-off to two digits
df_exams["parental level of education"].value_counts(normalize = True).round(2)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64