In [1]:
import pandas as pd

In [2]:
# Reads csv file with proper encoding
df = pd.read_csv("players_20.csv")
# set index 
df.set_index("short_name", inplace = True)
# Select Column
df = df[["long_name", "age", "dob", "height_cm", "weight_kg", "nationality"]]

In [7]:
# show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR
Zhang Wei,张威,19,2000-05-16,186,75,China PR
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR

# Drop Row

In [11]:
# Drop one row
# Axis parameter
df.drop("L. Messi", axis = 0) 
# axis = 0: Row, axis = 1: Column

# Index parameter
df.drop(index = ["L. Messi"])

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR
Zhang Wei,张威,19,2000-05-16,186,75,China PR
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR

In [13]:
# Drop two or more rows and update data (inplace = True)
df.drop(["L. Messi", "Cristiano Ronaldo"], axis = 0, inplace = True)

In [14]:
df

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR
Zhang Wei,张威,19,2000-05-16,186,75,China PR
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR

# Drop Columns

In [18]:
# Drop one column
# Axis parameter
df.drop("long_name", axis = 1) 
# axis = 0: Row, axis = 1: Column

# Index parameter
df.drop(columns = ["long_name"])

               age         dob  height_cm  weight_kg nationality
short_name
Neymar Jr       27  1992-02-05        175         68      Brazil
J. Oblak        26  1993-01-07        188         87    Slovenia
E. Hazard       28  1991-01-07        175         74     Belgium
K. De Bruyne    28  1991-06-28        181         70     Belgium
M. ter Stegen   27  1992-04-30        187         85     Germany
...            ...         ...        ...        ...         ...
Shao Shuai      22  1997-03-10        186         79    China PR
Xiao Mingjie    22  1997-01-01        177         66    China PR
Zhang Wei       19  2000-05-16        186         75    China PR
Wang Haijian    18  2000-08-02        185         74    China PR
Pan Ximing      26  1993-01-11        182         78    China PR

[18276 rows x 5 columns]

In [21]:
# drop colum by position/index (drop last column)
df.drop(df.columns[[1]], axis = 1)

,long_name,dob,height_cm,weight_kg,nationality
short_name,,,,,
Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,1991-01-07,175,74,Belgium
K. De Bruyne,Kevin De Bruyne,1991-06-28,181,70,Belgium
M. ter Stegen,Marc-André ter Stegen,1992-04-30,187,85,Germany
...,...,...,...,...,...
Shao Shuai,邵帅,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,1997-01-01,177,66,China PR
Zhang Wei,张威,2000-05-16,186,75,China PR
Wang Haijian,汪海健,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,1993-01-11,182,78,China PR

In [22]:
# dorp two or more columns and update data (inplace = True)
df.drop(["long_name", "dob"], axis = 1, inplace = True)

In [23]:
df

               age  height_cm  weight_kg nationality
short_name
Neymar Jr       27        175         68      Brazil
J. Oblak        26        188         87    Slovenia
E. Hazard       28        175         74     Belgium
K. De Bruyne    28        181         70     Belgium
M. ter Stegen   27        187         85     Germany
...            ...        ...        ...         ...
Shao Shuai      22        186         79    China PR
Xiao Mingjie    22        177         66    China PR
Zhang Wei       19        186         75    China PR
Wang Haijian    18        185         74    China PR
Pan Ximing      26        182         78    China PR

[18276 rows x 4 columns]