In [1]:
import pandas as pd

In [2]:
# Reads csv file with proper encoding
df = pd.read_csv("players_20.csv")
# set index 
df.set_index("short_name", inplace = True)
# Select Column
df = df[["long_name", "age", "dob", "height_cm", "weight_kg", "nationality"]]

In [3]:
# show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR
Zhang Wei,张威,19,2000-05-16,186,75,China PR
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR

# sample()

In [12]:
# extract 10 random elements from the "nationality" column
df["nationality"].sample(11, random_state = 99)

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
C. Bishop                England
Name: nationality, dtype: object

In [19]:
# Extract a random 20% sample of the dataframe
df.sample(frac=0.2, random_state = 12)

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
Y. Thoelen,Yannick Thoelen,28,1990-07-18,188,89,Belgium
M. Nadé,Mickaël Nadé,20,1999-03-04,188,80,France
V. García,Víctor Hugo García Hernández,25,1994-06-11,178,71,Venezuela
M. Gyamfi,Maxwell Gyamfi,19,2000-01-18,185,75,Germany
W. Cyprien,Wylan Cyprien,24,1995-01-28,180,75,France
...,...,...,...,...,...,...
H. Kadish,Hassan Kadish,26,1992-09-26,179,73,Saudi Arabia
A. Chapman,Aaron Chapman,29,1990-05-29,203,92,England
I. Ezekiel,Imoh Ezekiel,25,1993-10-24,178,70,Nigeria
H. Sakai,酒井 宏樹,29,1990-04-12,183,70,Japan
C. Keșerü,Claudiu Andrei Keșerü,32,1986-12-02,178,71,Romania

In [21]:
# Unsample: increase the sampling rate -> frac > 1 (Note: replace parameter has to be True for frac parameter > 1)
df.sample(frac=2, replace = True, random_state= 0)

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
O. Kolář,Ondřej Kolář,24,1994-10-17,193,81,Czech Republic
M. Bolly,Mathis Gazoa Kippersund Bolly,28,1990-11-14,185,77,Ivory Coast
G. Nepomuceno,Gevaro Nepomuceno,26,1992-11-10,174,77,Curacao
J. David,Jonas David,19,2000-03-08,190,88,Germany
J. Bandowski,Jannik Bandowski,25,1994-03-30,190,81,Germany
...,...,...,...,...,...,...
Carlos Neva,Carlos Neva Tey,23,1996-06-12,174,64,Spain
I. Djuric,Igor Đurić,30,1988-08-30,181,77,Switzerland
I. Traoré,Ismaël Traoré,32,1986-08-18,184,87,Ivory Coast
R. Cereceda,Roberto Cereceda,34,1984-10-10,173,73,Chile
M. Svanberg,Mattias Svanberg,20,1999-01-05,185,77,Sweden