In [2]:
import pandas as pd

In [3]:
df_cars = pd.read_csv("Car_sales.csv")
df_cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [4]:
# selecting columns
df_cars_7_col = df_cars[["Manufacturer","Sales_in_thousands",
                   "Vehicle_type", "Price_in_thousands",
                   "Engine_size", "Horsepower", "Fuel_capacity"]]

In [5]:
# show dataframe with the selected columns
df_cars_7_col

,Manufacturer,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,16.919,Passenger,21.50,1.8,140.0,13.2
1,Acura,39.384,Passenger,28.40,3.2,225.0,17.2
2,Acura,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,8.588,Passenger,42.00,3.5,210.0,18.0
4,Audi,20.397,Passenger,23.99,1.8,150.0,16.4
...,...,...,...,...,...,...,...
152,Volvo,3.545,Passenger,24.40,1.9,160.0,15.8
153,Volvo,15.245,Passenger,27.50,2.4,168.0,17.9
154,Volvo,17.531,Passenger,28.80,2.4,168.0,17.9
155,Volvo,3.493,Passenger,45.50,2.3,236.0,18.5
156,Volvo,18.969,Passenger,36.00,2.9,201.0,21.1

In [6]:
df_cars = df_cars_7_col[["Sales_in_thousands", "Price_in_thousands",
                   "Engine_size", "Horsepower", "Fuel_capacity"]]

# we will have only the numeric values as the agg("function") mostly works on numerical values only

In [7]:
df_cars

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,16.919,21.50,1.8,140.0,13.2
1,39.384,28.40,3.2,225.0,17.2
2,14.114,NaN,3.2,225.0,17.2
3,8.588,42.00,3.5,210.0,18.0
4,20.397,23.99,1.8,150.0,16.4
...,...,...,...,...,...
152,3.545,24.40,1.9,160.0,15.8
153,15.245,27.50,2.4,168.0,17.9
154,17.531,28.80,2.4,168.0,17.9
155,3.493,45.50,2.3,236.0,18.5
156,18.969,36.00,2.9,201.0,21.1

In [8]:
# calculate number of unique values
df_cars.nunique()

Sales_in_thousands    157
Price_in_thousands    152
Engine_size            31
Horsepower             66
Fuel_capacity          55
dtype: int64

# 1. agg()

In [9]:
# calculate the sum of columns
df_cars.agg("sum")

Sales_in_thousands     8320.698
Price_in_thousands     4245.567
Engine_size             477.500
Horsepower            29008.000
Fuel_capacity          2800.500
dtype: float64

In [10]:
# calculate the mean of numeric columns ONLY
df_cars.agg("mean")

Sales_in_thousands     52.998076
Price_in_thousands     27.390755
Engine_size             3.060897
Horsepower            185.948718
Fuel_capacity          17.951923
dtype: float64

In [11]:
#calculate the mean and count values (both methods works the same)
# df_cars.apply(["mean","count"])
df_cars.agg(["mean", "sum"])

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
mean,52.998076,27.390755,3.060897,185.948718,17.951923
sum,8320.698000,4245.567000,477.500000,29008.000000,2800.500000

In [12]:
# Different aggregations per column: calculate the sum and mean of 'Sales_in_thousands' and sum and max of 'Price_in_thousands'
df_cars.agg({'Sales_in_thousands' : ["sum", "mean", "max"], 
             'Price_in_thousands' : ["sum", "mean", "max"]})

      Sales_in_thousands  Price_in_thousands
sum          8320.698000         4245.567000
mean           52.998076           27.390755
max           540.561000           85.500000

In [13]:
# aggregate over the columns.
df_cars[['Sales_in_thousands', 'Price_in_thousands']].agg("sum" , axis=1)

0      38.419
1      67.784
2      14.114
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [14]:
# equivalent (NaN behaves differently)
df_cars['Sales_in_thousands'] + df_cars['Price_in_thousands']
# The .agg("function") method takes NaN as Zero whereas simple + takes NaN as something strange

0      38.419
1      67.784
2         NaN
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [15]:
# aggregate different functions and rename the index of the resulting DataFrame.
df_cars.agg(x=('Sales_in_thousands', 'sum'), 
            y=('Price_in_thousands', 'sum'))

   Sales_in_thousands  Price_in_thousands
x            8320.698                 NaN
y                 NaN            4245.567

# 2. The split-Apply-Combine Strategy

In [16]:
df_cars = pd.read_csv("Car_sales.csv")
df_cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [17]:
# split data into seperate groups
car_filter = df_cars['Vehicle_type']=='Car'
passenger_filter = df_cars['Vehicle_type']=='Passenger'
# df_cars['Vehicle_type'].value_counts()

In [18]:
# Apply an operation
car_average = df_cars[car_filter]['Sales_in_thousands'].mean()
passenger_average = df_cars[passenger_filter]['Sales_in_thousands'].mean()

In [19]:
# combine results
pd.DataFrame({'Vehicle_type':['Car', 'Passenger'],
              'Sales_in_thousands':[car_average, passenger_average]})

  Vehicle_type  Sales_in_thousands
0          Car           80.622293
1    Passenger           43.234345

In [20]:
# We can also make teh Vehicle_type to be the index
pd.DataFrame({'Vehicle_type':['Car', 'Passenger'],
              'Sales_in_thousands':[car_average, passenger_average]}).set_index("Vehicle_type")

              Sales_in_thousands
Vehicle_type
Car                    80.622293
Passenger              43.234345

# 3. groupby()

In [23]:
# group by Vehicle_type and calculate the mean (numeric columns only)
# df_car = df_cars[["Vehicle_type", "Sales_in_thousands", "Price_in_thousands",
#          "Engine_size", "Horsepower","Fuel_capacity"]].set_index('Vehicle_type')

# The above is the longer method. The same can be done with one line of code as below

# select numeric columns first to avoid TypeError when non-numeric/object columns are present
numeric_cols = df_cars.select_dtypes(include='number').columns
df_cars.groupby("Vehicle_type")[numeric_cols].mean()

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
Vehicle_type,,,,,,,,,,,,
Car,80.622293,16.297833,26.319975,3.520000,186.400000,112.520000,72.592500,190.427500,3.935100,21.895000,19.700000,76.999112
Passenger,43.234345,18.658187,27.763200,2.902586,185.793103,105.751724,70.652586,186.280172,3.184261,16.592241,25.298246,77.059062

In [24]:
# group by Manufacturer
groupby_obj = df_cars.groupby('Manufacturer')

In [25]:
# the groupby_obj
groupby_obj

In [26]:
# groups attribute and keys
groupby_obj.groups
groupby_obj.groups.keys()

dict_keys(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti', 'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mercedes-B', 'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac', 'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen', 'Volvo'])

In [27]:
# get a specific group within the Manufacturer column
groupby_obj.get_group('Ford')

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
46,Ford,Escort,70.227,7.425,Passenger,12.070,2.0,110.0,98.4,67.0,174.7,2.468,12.7,30.0,3/31/2012,44.083709
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,183.2,3.203,15.7,24.0,1/31/2012,76.509185
48,Ford,Contour,35.068,8.835,Passenger,17.035,2.5,170.0,106.5,69.1,184.6,2.769,15.0,25.0,8/20/2012,67.351011
49,Ford,Taurus,245.815,10.055,Passenger,17.885,3.0,155.0,108.5,73.0,197.6,3.368,16.0,24.0,12/20/2011,62.503740
50,Ford,Focus,175.670,NaN,Passenger,12.315,2.0,107.0,103.0,66.9,174.8,2.564,13.2,30.0,7/22/2012,43.117132
51,Ford,Crown Victoria,63.403,14.210,Passenger,22.195,4.6,200.0,114.7,78.2,212.0,3.908,19.0,21.0,9/26/2011,80.499537
52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,190.7,3.876,21.0,19.0,4/25/2012,87.635496
53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,200.9,3.761,26.0,21.0,2/25/2012,62.095048
54,Ford,Expedition,125.338,23.575,Car,36.135,4.6,240.0,119.0,78.7,204.6,4.808,26.0,16.0,9/14/2012,100.024802
55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23.0,1/14/2012,47.389531
56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,224.5,4.241,25.1,18.0,8/16/2012,89.401935

In [28]:
# group by Manufacturer and calculate the sum
df_cars.groupby("Manufacturer").sum().head()

,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
Manufacturer,,,,,,,,,,,,,,,
Acura,IntegraTLCLRL,79.005,84.185,PassengerPassengerPassengerPassenger,91.900,11.7,800.0,430.8,279.6,753.9,13.476,65.6,101.0,2/2/20126/3/20111/4/20123/10/2011,241.040707
Audi,A4A6A8,40.557,84.810,PassengerPassengerPassenger,119.940,8.8,660.0,324.3,218.3,568.2,10.461,58.6,70.0,10/8/20118/9/20112/27/2012,281.999602
BMW,323i328i528i,46.505,64.800,PassengerPassengerPassenger,99.290,8.1,556.0,326.0,207.8,540.0,9.848,51.7,75.0,6/28/20111/29/20124/4/2011,237.066999
Buick,CenturyRegalPark AvenueLeSabre,242.019,59.765,PassengerPassengerPassengerPassenger,107.125,14.5,825.0,444.0,293.6,797.6,14.280,71.0,97.0,11/2/20119/3/20113/23/20127/23/2011,336.901088
Cadillac,DeVilleSevilleEldoradoCateraEscalade,112.178,93.575,PassengerPassengerPassengerPassengerCar,201.270,22.5,1280.0,560.4,372.3,1004.8,17.163,104.0,103.0,2/23/20124/29/201111/27/20119/28/20114/17/2012,536.234039

In [29]:
# Group by Vehicle_type and Count value
df_cars.groupby("Vehicle_type").count()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
Vehicle_type,,,,,,,,,,,,,,,
Car,41,41,41,30,40,40,40,40,40,40,40,40,40,41,40
Passenger,116,116,116,91,115,116,116,116,116,116,115,116,114,116,115

In [30]:
# Find null values in columns
df_cars.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [31]:
# Group by Engine_size and count values without dropping NaN values
df_cars.groupby("Engine_size", dropna = False).count()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
Engine_size,,,,,,,,,,,,,,,
1.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1.5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1.6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1.8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
1.9,5,5,5,3,5,5,5,5,5,5,5,5,5,5,5
2.0,17,17,17,14,17,17,17,17,17,17,17,17,17,17,17
2.2,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4
2.3,6,6,6,2,6,6,6,6,6,6,6,6,6,6,6
2.4,11,11,11,8,11,11,11,11,11,11,11,11,11,11,11
2.5,11,11,11,8,11,11,11,11,11,11,11,11,11,11,11
2.7,4,4,4,4,4,4,4,4,4,4,4,4,3,4,4
2.8,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2.9,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
3.0,14,14,14,11,14,14,14,14,14,14,14,14,14,14,14
3.1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
3.2,6,6,6,4,6,5,6,6,6,6,6,6,6,6,5
3.3,5,5,5,3,5,5,5,5,5,5,5,5,5,5,5
3.4,7,7,7,5,7,7,7,7,7,7,7,7,7,7,7
3.5,8,8,8,5,8,8,8,8,8,8,8,8,7,8,8
3.8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
3.9,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4.0,7,7,7,6,7,7,7,7,7,7,7,7,7,7,7
4.2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4.3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4.6,9,9,9,9,9,9,9,9,9,9,8,9,9,9,9
4.7,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
5.0,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
5.2,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
5.4,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
5.7,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
8.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
NaN,1,1,1,1,1,0,0,0,0,0,0,0,0,1,0

# 4. Groupby() and agg()

In [32]:
# find the minimum and maximum values on each column

# df_cars.groupby('Vehicle_type').max()
# df_cars.groupby('Vehicle_type').mmin()

# or we can do the same with the one line. We can do that to as many agg("function") as you want to.
# We can also customise different names of the columns

df_cars.groupby('Vehicle_type').agg(['min', 'max'])

             Manufacturer            Model         Sales_in_thousands  \
                      min     max      min     max                min
Vehicle_type
Car              Cadillac  Toyota  4Runner  Xterra              9.126
Passenger           Acura   Volvo    3-Sep   Viper              0.110

                      __year_resale_value        Price_in_thousands          \
                  max                 min    max                min     max
Vehicle_type
Car           540.561                7.85  34.08             11.528  60.105
Passenger     247.994                5.16  67.55              9.235  85.500

              ... Curb_weight        Fuel_capacity       Fuel_efficiency  \
              ...         min    max           min   max             min
Vehicle_type  ...
Car           ...       2.580  5.572          15.1  32.0            15.0
Passenger     ...       1.895  4.133          10.3  23.7            16.0

                   Latest_Launch            Power_perf_factor
               max           min        max               min         max
Vehicle_type
Car           27.0     1/14/2012  9/25/2011         47.389531  123.972047
Passenger     45.0     1/15/2011   9/3/2011         23.276272  188.144323

[2 rows x 30 columns]

In [33]:
# set a name for aggregated column
# find the min Engine_size and max Horsepower
df_cars.groupby('Vehicle_type').agg(min_engine_size=('Engine_size', 'min'),
                                    max_horsepower=('Horsepower', 'max'))

              min_engine_size  max_horsepower
Vehicle_type
Car                       2.0           300.0
Passenger                 1.0           450.0

In [36]:
# calculate the sum of Sales_in_thousands and mean of Price_in_thousands
df_cars.groupby('Manufacturer').agg(sum_sales=('Sales_in_thousands','sum'),
                                    mean_price=('Price_in_thousands','mean')).head()

              sum_sales  mean_price
Manufacturer
Acura            79.005   30.633333
Audi             40.557   39.980000
BMW              46.505   33.096667
Buick           242.019   26.781250
Cadillac        112.178   40.254000

In [37]:
#Just to Verify, let's see the Manufacturer and Sales_in_thousands
df_cars.groupby("Manufacturer")["Sales_in_thousands"].sum().head()

Manufacturer
Acura        79.005
Audi         40.557
BMW          46.505
Buick       242.019
Cadillac    112.178
Name: Sales_in_thousands, dtype: float64

In [38]:
df_cars.groupby("Manufacturer")["Price_in_thousands"].mean().head()

Manufacturer
Acura       30.633333
Audi        39.980000
BMW         33.096667
Buick       26.781250
Cadillac    40.254000
Name: Price_in_thousands, dtype: float64

In [41]:
df_cars

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

# 5. Lambda

Apply your own function

In [42]:
df_cars = df_cars[["Sales_in_thousands","Price_in_thousands",
                                    "Engine_size","Horsepower", "Fuel_capacity"]]
df_cars

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,16.919,21.50,1.8,140.0,13.2
1,39.384,28.40,3.2,225.0,17.2
2,14.114,NaN,3.2,225.0,17.2
3,8.588,42.00,3.5,210.0,18.0
4,20.397,23.99,1.8,150.0,16.4
...,...,...,...,...,...
152,3.545,24.40,1.9,160.0,15.8
153,15.245,27.50,2.4,168.0,17.9
154,17.531,28.80,2.4,168.0,17.9
155,3.493,45.50,2.3,236.0,18.5
156,18.969,36.00,2.9,201.0,21.1

In [44]:
# First reload the original dataframe
df_cars = pd.read_csv("Car_sales.csv")

# Then run your groupby operation
df_cars.groupby('Manufacturer').sum()[['Sales_in_thousands', 'Price_in_thousands']].apply(lambda x:x*1000).head()

              Sales_in_thousands  Price_in_thousands
Manufacturer
Acura                    79005.0             91900.0
Audi                     40557.0            119940.0
BMW                      46505.0             99290.0
Buick                   242019.0            107125.0
Cadillac                112178.0            201270.0

In [49]:
# Select only numeric columns for the calculation 
numeric_cols = ['Sales_in_thousands', 'Price_in_thousands', 'Engine_size', 'Horsepower', 'Fuel_capacity']

# Subtract mean from each group using only numeric columns
result = df_cars.groupby('Manufacturer')[numeric_cols].apply(lambda x: x - x.mean())
result

                  Sales_in_thousands  Price_in_thousands  Engine_size  \
Manufacturer
Acura        0             -2.832250           -9.133333    -1.125000
             1             19.632750           -2.233333     0.275000
             2             -5.637250                 NaN     0.275000
             3            -11.163250           11.366667     0.575000
Audi         4              6.878000          -15.990000    -1.133333
...                              ...                 ...          ...
Volvo        152           -9.078333           -6.533333    -0.400000
             153            2.621667           -3.433333     0.100000
             154            4.907667           -2.133333     0.100000
             155           -9.130333           14.566667     0.000000
             156            6.345667            5.066667     0.600000

                  Horsepower  Fuel_capacity
Manufacturer
Acura        0    -60.000000      -3.200000
             1     25.000000       0.800000
             2     25.000000       0.800000
             3     10.000000       1.600000
Audi         4    -70.000000      -3.133333
...                      ...            ...
Volvo        152  -22.166667      -2.033333
             153  -14.166667       0.066667
             154  -14.166667       0.066667
             155   53.833333       0.666667
             156   18.833333       3.266667

[157 rows x 5 columns]

# 6. The filter() method

In [52]:
# calculate the mean of Sales_in_thousands for each Manufacturer
def filter_func(x):
    return x['Sales_in_thousands'].sum() > 52


df_filter = df_cars.groupby(['Manufacturer']).filter(filter_func)
df_filter

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,11/2/2011,71.181451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.400,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.500,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.800,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.500,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [58]:
df_cars.groupby(['Manufacturer']).sum()['Sales_in_thousands'].sort_values(ascending=True).head(6)

Manufacturer
Porsche     12.128
Jaguar      15.467
Saab        21.306
Infiniti    23.713
Audi        40.557
BMW         46.505
Name: Sales_in_thousands, dtype: float64

In [61]:
df_cars[df_cars['Manufacturer'].isin(['Porsche', 'Jaguar', 'BMW', 'Audi',"Saab", "Infiniti" ])].shape

(13, 16)

In [62]:
df_cars.shape

(157, 16)

In [63]:
print(df_cars.shape)
print(df_filter.shape)

(157, 16)
(144, 16)