# Regex (Regular Expressions)

In [1]:
import re

## re.search()

In [6]:
text = """Hello World.
I love Python!!!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""

In [7]:
# return the first match object
re.search(r'\d', text)

In [12]:
# Flags
re.search(r'^hello', text, re.IGNORECASE)  # case insensitive search

## re.findall()

In [13]:
# return all the matches as a list of strings
re.findall(r'\d', text)

['9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6']

## Exercises

In [15]:
# Match only punctuation
text = """Hello World.
I love Python!!!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""

re.findall(r'[^\w\s]', text)    # This will match only the punctuation marks

['.',
 '!',
 '!',
 '!',
 '!',
 '!',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [22]:
# match right data format (MMM-DDD-YYYY)
text = '''
13-04-2021
2021-13-04
2021-04-13
'''
re.findall(r'\d{2}-\d{2}-\d{4}', text) 
# This will match only the dates in DD-MM-YYYY format

['13-04-2021']

In [29]:
# Match right username format (4-14 characters and only letter or digits)
text = '''
username10
abc
10
username_1234567890
'''
re.findall(r'\b[a-zA-Z0-9]{4,14}\b', text)

['username10']